.Navigation {
  display: flex;
  gap: 10px;
}

.Navigation__button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 2px 2px 5px grey;
  background-color: rgba(70, 130, 180, 70%);
}

.Navigation__button--active {
  background-color: rgba(70, 130, 180, 100%);
}
